/* Style sheet
   color picker www.w3schools.com/colors/colors_picker.asp
*/
h1 {
   font-family: "Times New Roman", Times, serif;
   text-shadow: 0px 0px 0px white;
   padding-top: 30px;
   color: black;
}
h2 {
   font-family: "Times New Roman", Times, serif;
   text-shadow: 0px 0px 0px black;
   color: black;
   size: 20px;
}
