/* Style sheet
   color picker www.w3schools.com/colors/colors_picker.asp
*/
h1 {
   font-family: "Times New Roman", Times, serif;
   text-shadow: 3px 3px 1px black;
   padding-top: 46px;
   padding-bottom: 46px;
}
